@import './reset.scss';
@import '../assets/font/font.scss';

@mixin flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex_row {
    display: flex;
    align-items: center;
}